name: MVDR Dataset Pipeline

on:
  workflow_dispatch:
jobs:
  build-mvdr-dataset:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------------
      # Setup MATLAB + License
      # -------------------------------
      - name: Set up MATLAB with license
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2025b
          products: |
            Signal_Processing_Toolbox
            Communications_Toolbox

      # -------------------------------
      # Cache Pre Dataset ZIP
      # -------------------------------
      - name: Cache Pre_MVDR_Dataset.zip
        uses: actions/cache@v4
        id: cache-pre
        with:
          path: Pre_MVDR_Dataset.zip
          key: pre-mvdr-dataset-v1

      # -------------------------------
      # Download only if not cached
      # -------------------------------
      - name: Download Pre Dataset from Transfer.sh
        if: steps.cache-pre.outputs.cache-hit != 'true'
        run: |
          curl -L "https://transfer-zip-bucket-eu-0.aeefb6f16ea9e6e091f832288dc6c896.eu.r2.cloudflarestorage.com/697ef1f4803e265316ce9c43/bundle?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=e593d7a88ce182df2d550c95a027a56e%2F20260201%2Fauto%2Fs3%2Faws4_request&X-Amz-Date=20260201T073833Z&X-Amz-Expires=600&X-Amz-Signature=6ba0495c16f8f70f52c63366db64db10cf56bf813ab860bfbfd3790a6e82cb13&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22Pre_MVDR_Dataset.zip%22&x-amz-checksum-mode=ENABLED&x-id=GetObject" -o Pre_MVDR_Dataset.zip

      # -------------------------------
      # Extract dataset cleanly
      # -------------------------------
      - name: Extract dataset
        run: |
          unzip -oq Pre_MVDR_Dataset.zip

      # -------------------------------
      # Show dataset paths
      # -------------------------------
      - name: Show dataset paths
        run: |
          echo "Pre dataset:"
          realpath Pre_MVDR_Dataset

      # -------------------------------
      # Run MATLAB script
      # -------------------------------
      - name: Run MVDR MATLAB Script
        uses: matlab-actions/run-command@v2
        with:
          command: |
            addpath(pwd);
            disp("Pre path:");
            disp(fullfile(pwd,"Pre_MVDR_Dataset"));
            disp("Post path:");
            disp(fullfile(pwd,"Post_MVDR_Dataset"));
            run('audio/beamforming/generate_mixture_NoReverb_MVDR_V1_Final.m');

      # -------------------------------
      # Zip output
      # -------------------------------
      - name: Zip Post Dataset
        run: zip -r Post_MVDR_Dataset.zip Post_MVDR_Dataset

      # -------------------------------
      # Upload artifact
      # -------------------------------
      - name: Upload Post Dataset Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Post_MVDR_Dataset
          path: Post_MVDR_Dataset.zip
